@import '../../styles/base/settings.scss';

.page {
    width: 100%;
    background: $background;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 850px) {
        min-height: 650px;
    }
}

.image__row {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: 850px) {
        display: flex;
        align-items: center;
        min-width: 100%;
        margin: auto;
    }

    img {
        height: 15em;
        width: 15em;
        border-radius: 360px;
        padding: 20px;

        @media screen and (max-width: 850px) {
            height: 8.5em;
            width: 8.5em;
        }
    }
}

.image__column {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 15em;
        width: 15em;
        border-radius: 360px;
        padding: 20px;

        @media screen and (max-width: 850px) {
            height: 8.5em;
            width: 8.5em;
        }
    }
}

.content__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    margin-top: 10%;
    margin-bottom: 10%;

    @media screen and (max-width: 850px) {
        display: inline-block;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    h2 {
        font-size: 64px;
        color: $white;

        @media screen and (max-width: 850px) {
            display: inline-block;
            font-size: 24px;
            align-items: center;
            text-align: center;
        }

    }
}

.divider {
    width: 50%;
    @media screen and (max-width: 480px) {
        width: 90%;
        margin: auto;

    }
}

.mobile__img__container {
    margin-top: 10%;
    display: inline-block;
    width: 100%;
    align-items: center;
    text-align: center;

    img {
        height: 9em;
        width: 9em;
        border-radius: 360px;
        padding: 20px;
    }

    h2 {
        display: inline-block;
        font-size: 32px;
        align-items: center;
        text-align: center;
        color: $white;

    }
}
.mobile__img__container__two {
    display: inline-block;
    width: 100%;
    align-items: center;
    text-align: center;

    img {
        height: 9em;
        width: 9em;
        border-radius: 360px;
        padding: 20px;
        
    }
}

.mobile__content__wrap {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    text-align: center;
}