@import '../../styles/base/settings.scss';

.page {
    width: 100%;
    background: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.width__container {
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

    @media screen and (max-width: 1150px) {
        margin-top: 10%;
        display: inline-block;
        width: 90%;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    h3 {
        font-size: 64px;
        color: $white;

        @media screen and (max-width: 850px) {
            font-size: 32px;
            margin-bottom: 50px;
        }
    }

    p {
        margin-top: -2%;
        font-size: 26px;
        color: $white;
        line-height: 50px;

        @media screen and (max-width: 850px) {
            font-size: 24px;
            line-height: 35px;
        }
    }
}

.partner__row {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 1150px) {
        display: inline-block;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 90%;
    }
}