@import "../../styles/base/settings.scss";

.nav {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    min-height: 100px;

    @media screen and (max-width: 850px) {
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
}

.nav.light {
    width: 100%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(171, 150, 150, 0.09);
}

.logo {
    margin-left: 7.5%;

    button {
        font-size: 22px;
        font-family: Siracha-Regular;
        letter-spacing: 0.07em;
        color: $secondary;
        border: none;
        background-color: transparent !important;
        cursor: pointer;

    }
}

.burger {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;

    @media screen and (max-width: 700px) {
        margin-right: 12%;
    }
}

.row.light {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;

    button {
        color: #000000;
        padding: 8px 20px;
        border-radius: 5px;
        background-color: transparent;
        font-family: "good-times";
        font-size: 16px;
        outline: none;
        border: none;
        position: relative;
        transition: all 220ms ease-in-out;
        cursor: pointer;

        &::after{
            content: '';
            position: absolute;
            width: 80%;
            margin: auto;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $secondary;
            transition: transform 0.35s ease-out;
        }
    
        &:hover {
            &::after {
                transform: scaleX(1);
                transform-origin: bottom center;
            }
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 7.5%;

    @media screen and (max-width: 850px) {
        margin-right: 0%;
    }

    img {
        height: 2em;
        margin: 25px;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform:scale(1.2, 1.2);
        }
    }

    button {
        color: $black;
        padding: 8px 20px;
        border-radius: 20px;
        background-color: $primary;
        font-size: 18px;
        font-weight: 600px;
        outline: none;
        border: none;
        transition: all 220ms ease-in-out;
        position: relative;
        cursor: pointer;
        margin: 25px;

        &:hover {
            background-color: #000000;
            border: none;
            color: #FFFFFF;
          }

        &::after{
            content: '';
            position: absolute;
            width: 80%;
            margin: auto;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $secondary;
            transition: transform 0.35s ease-out;
        }
    
        &:hover {
            &::after {
                transform: scaleX(1);
                transform-origin: bottom center;
            }
        }
    }
}
